<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap flex-wrap justify-content-between mb-5">

                    <h2 class="section-title">Shop Nổi Bật</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev brand-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next brand-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="brand-carousel swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body py-0">
                                            <p class="text-muted mb-0">Amber Jar</p>
                                            <h5 class="card-title">Honey best nectar you wish to get</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body py-0">
                                            <p class="text-muted mb-0">Amber Jar</p>
                                            <h5 class="card-title">Honey best nectar you wish to get</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/product-thumb-13.jpg" class="img-fluid rounded" alt="Card title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body py-0">
                                            <p class="text-muted mb-0">Amber Jar</p>
                                            <h5 class="card-title">Honey best nectar you wish to get</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/product-thumb-14.jpg" class="img-fluid rounded" alt="Card title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body py-0">
                                            <p class="text-muted mb-0">Amber Jar</p>
                                            <h5 class="card-title">Honey best nectar you wish to get</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body py-0">
                                            <p class="text-muted mb-0">Amber Jar</p>
                                            <h5 class="card-title">Honey best nectar you wish to get</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body py-0">
                                            <p class="text-muted mb-0">Amber Jar</p>
                                            <h5 class="card-title">Honey best nectar you wish to get</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>