<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="bg-secondary py-5 my-5 rounded-5" style="background:url('~/images/bg-leaves-img-pattern.png') no-repeat;">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <h2 class="display-4">Get <span class="text-primary">25% Discount</span> on your first purchase</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit…</p>
                    </div>
                    <div class="col-md-6 p-5">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">Họ tên</label>
                                <input id="name" name="name" class="form-control form-control-lg" placeholder="Họ tên" />
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input id="email" name="email" type="email" class="form-control form-control-lg" placeholder="abc@mail.com" />
                            </div>
                            <button type="submit" class="btn btn-dark btn-lg">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
