<section id="latest-blog" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="section-header d-flex align-items-center justify-content-between my-5">
                <h2 class="section-title">Blog của chúng tôi</h2>
                <div class="btn-wrap align-right">
                    <a href="#" class="d-flex align-items-center nav-link">
                        Xem tất cả bài viết
                        <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Bài viết 1 -->
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="#">
                            <img src="images/post-thumb-1.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date">
                                <svg width="16" height="16"><use xlink:href="#calendar"></use></svg>
                                22 Tháng 8 2021
                            </div>
                            <div class="meta-categories">
                                <svg width="16" height="16"><use xlink:href="#category"></use></svg>
                                Mẹo &amp; Thủ thuật
                            </div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="#" class="text-decoration-none">
                                    10 Ý tưởng phong cách thường ngày cho bé
                                </a>
                            </h3>
                            
                        </div>
                    </div>
                </article>
            </div>
            <!-- Bài viết 2 -->
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="#">
                            <img src="images/post-thumb-2.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date">
                                <svg width="16" height="16"><use xlink:href="#calendar"></use></svg>
                                25 Tháng 8 2021
                            </div>
                            <div class="meta-categories">
                                <svg width="16" height="16"><use xlink:href="#category"></use></svg>
                                Xu hướng
                            </div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="#" class="text-decoration-none">
                                    Xu hướng thời trang đường phố mới nhất
                                </a>
                            </h3>
                            
                        </div>
                    </div>
                </article>
            </div>
            <!-- Bài viết 3 -->
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="#">
                            <img src="images/post-thumb-3.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date">
                                <svg width="16" height="16"><use xlink:href="#calendar"></use></svg>
                                28 Tháng 8 2021
                            </div>
                            <div class="meta-categories">
                                <svg width="16" height="16"><use xlink:href="#category"></use></svg>
                                Cảm hứng
                            </div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="#" class="text-decoration-none">
                                    10 Ý tưởng trang phục thoải mái cho phụ nữ
                                </a>
                            </h3>
                            
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
