<section class="py-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="banner-ad bg-danger mb-3">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">Nông sản Đắk Lắk</div>
                        <h3 class="banner-title">Cà phê Buôn Ma Thuột</h3>
                        <p>Hương vị cà phê rang xay nguyên chất, đậm đà, thơm nồng từ vùng đất đỏ bazan Tây Nguyên.</p>
                        <a href="#" class="btn btn-dark text-uppercase">Tìm hiểu</a>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="banner-ad bg-info">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">Nông sản Đắk Lắk</div>
                        <h3 class="banner-title">Hạt tiêu Đắk Lắk</h3>
                        <p>Hạt tiêu sạch, thơm cay đặc trưng, được thu hái và phơi sấy truyền thống giữ trọn hương vị Tây Nguyên.</p>
                        <a href="#" class="btn btn-dark text-uppercase">Tìm hiểu</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
