<div class="d-flex flex-column gap-4">
    <!-- Banner 1 -->
    <div class="d-flex align-items-center rounded-4 p-4" style="background-color:#E6F9ED;">
        <div class="flex-grow-1">
            <div class="categories sale text-success fw-semibold mb-1">20% Off</div>
            <h5 class="mb-1">Fruits &amp; Vegetables</h5>
            <a href="#" class="nav-link p-0 d-inline-flex align-items-center">
                Shop Collection&nbsp;
                <svg width="16"><use xlink:href="#arrow-right" /></svg>
            </a>
        </div>
        <img src="~/images/ad-image-1.png" alt="" class="img-fluid" style="max-height:100px;" />
    </div>

    <!-- Banner 2 -->
    <div class="d-flex align-items-center rounded-4 p-4" style="background-color:#FFEAEA;">
        <div class="flex-grow-1">
            <div class="categories sale text-danger fw-semibold mb-1">15% Off</div>
            <h5 class="mb-1">Baked Products</h5>
            <a href="#" class="nav-link p-0 d-inline-flex align-items-center">
                Shop Collection&nbsp;
                <svg width="16"><use xlink:href="#arrow-right" /></svg>
            </a>
        </div>
        <img src="~/images/ad-image-2.png" alt="" class="img-fluid" style="max-height:100px;" />
    </div>
</div>
