<footer class="py-5">
    <div class="container-fluid">
        <div class="row">
            <!-- Logo & Mạng xã hội -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-menu">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="@(Url.Content("~/images/logo.png"))" alt="logo" />
                    </a>
                    
                </div>
            </div>

            <!-- Về chúng tôi -->
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">Về chúng tôi</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item"><a class="nav-link" asp-controller="Home" asp-action="GioiThieu">Giới thiệu</a></li>
                        <li class="menu-item"><a class="nav-link" asp-controller="Home" asp-action="Blog">Blog</a></li>
                    </ul>
                </div>
            </div>

            <!-- Dịch vụ khách hàng -->
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">Dịch vụ khách hàng</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item"><a class="nav-link">Câu hỏi thường gặp</a></li>
                        <li class="menu-item"><a class="nav-link" href="#">Liên hệ</a></li>                       
                        <li class="menu-item"><a class="nav-link" href="#">Đổi trả & hoàn tiền</a></li>                       
                    </ul>
                </div>
            </div>

            <!-- Hỗ trợ & Chính sách -->
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">Hỗ trợ & Chính sách</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item"><a class="nav-link" href="#">Bảo hành sản phẩm</a></li>
                        <li class="menu-item"><a class="nav-link" href="#">Chính sách đổi trả</a></li>
                    </ul>
                </div>
            </div>

            <!-- Đăng ký nhận tin -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">Đăng ký nhận tin</h5>
                    <p>Đăng ký nhận bản tin để cập nhật các ưu đãi đặc biệt.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
